{% extends 'base.html.twig' %}

{% block body %}
    <div class="tytul">
        <div class="tekst">
            <h2 id="tekst">O firmie</h2>
        </div>
    </div>
    <div class="srodek">
        <div class="glowna">
            <p class="naglowek2">
                JAKOŚĆ I DOŚWIADCZENIE
            </p>
            <p>
                Firma Elpex rozpoczęła swoją działalność w 2001 roku. Podstawowym obszarem naszych usług jest profesjonalne
                <a href="oferta.htm" title="Więcej informacji na temat naszych usług">wykonawstwo robót
                    elektroenergetycznych jak i teletechnicznych we wszelkich typach obiektów</a>. W 2012 roku firma
                przekształciła się z Przedsiębiorstwa Projektowania i Wykonywania Robót Elektrycznych "Elpex" na bardziej
                przyjazną "Elpex".<br/><br/>
                Dodatkowo świadczymy również usługi w zakresie projektowania sieci elektroenergetycznych niskiego oraz
                średniego napięcia.<br/><br/>
                Od początku istnienia stawiamy na profesjonalizm, jakość oraz konkurencyjność cenową. Fachowość oraz
                kompetencja, zarówno w pracy, jak i w kontakcie z klientem, pozwoliła nam na szybki i dynamiczny rozwój
                firmy. Jesteśmy doświadczonym i wykwalifikowanym partnerem biznesowym. W naszej pracy stawiamy na bezpieczne
                rozwiązania, które gwarantuje wykorzystanie nowoczesnych rozwiązań technicznych.
                <br/><br/>
                Główna siedziba firmy mieści się w miejscowości Przyjmo ul.Dolna 2 . W 2009 roku uruchomiliśmy również <a
                        href="kontakt.htm" title="Sprawdź mapę dojazdu">biuro handlowe przy ulicy Mielczarskiego w Kielcach</a>.
            </p>
            <p class="naglowek2">
                WYBRANE INWESTYCJE
            </p>

            <ul>
                <li>Budowa Centrum Handlowo-Usługowego Plaza Center w Krakowie.<br/><u>Wybrany zakres prac:</u></li>
                <ul class="pod_ul">
                    <li>wykonanie kompletnej instalacji supermarketu "Bricomarche";</li>
                    <li>zasilenie dla butików w formie przewodów szynowych Canalis firmy Schneider Electric;</li>
                    <li>wykonanie instalacji do zliczania osób;</li>
                    <li>okablowanie wraz z montażem osprzętu rozdzielni oświetleniowych oraz oświetlnia zewnętrznego cżęści
                        budynku.
                    </li>
                </ul>
                <br/>
                <li>Budowa Rezydencji Prezydenckiej w miejscowości Jurata - Hel.<br/><u>Wybrany zakres prac:</u></li>
                <ul class="pod_ul">
                    <li>wykonanie kompleksowej instalacji elektrycznej w systemie EIB na wyrobnikach firmy Gira.</li>
                </ul>
                <br/>
                <li>Budowa Hotelu "Ibis" w Warszawie.<br/><u>Wybrany zakres prac:</u></li>
                <ul class="pod_ul">
                    <li>wykonanie częściowej instalacji elektrycznej;</li>
                    <li>montaż koryt i drabinek kablowych;</li>
                    <li>układanie WLZ;</li>
                    <li>podłączenie i uruchomienie rozdzielni głównej.</li>
                </ul>
                <br/>
                <li>Budowa Basenu Olimpijskiego w Ostrowcu Świętokrzyskim.<br/><u>Wybrany zakres prac:</u></li>
                <ul class="pod_ul">
                    <li>wykonanie kompleksowej instalacji elektrycznej.</li>
                </ul>
                <br/>
                <li>Remont i przebudowa budynku kamienicy "Pod Trzema Herbami" na Muzeum Dialogu Kultur w Kielcach.<br/><u>Wybrany
                        zakres prac:</u></li>
                <ul class="pod_ul">
                    <li>wykonanie kompleksowej instalacji elektrycznej w systemie EIB;</li>
                    <li>montaż rozdzielnic elektrycznych;</li>
                    <li>instalacja oddymiania, SAP, CCTV, SSWiN oraz sieci strukturalnej.</li>
                </ul>
            </ul>

        </div>
        <div class="prawo_2">
            <b>Skontaktuj się z nami</b>
            <p>
                Wypełnij <a href="kontakt.htm">formularz zapytania ofertowego</a> lub skontaktuj się z nami
                bezpośrednio:<br/><br/>
                <font id="tel">tel/fax:</font> +48 <big><big><big><font id="tel">&nbsp;41 346 43 32</font></big></big></big><br/>
                <big>&nbsp;&nbsp;&nbsp;</big>
                <small>&nbsp;&nbsp;</small>
                <font id="tel">kom:</font> +48 <big><big><big><font id="tel">&nbsp;512 180 277</font></big></big></big>
            </p>
        </div>

        <div class="prawo_3">
            Zapraszamy również do odwiedzenia naszego biura mieszczącego się w <font id="czarny">Kielcach</font>, ulica
            <font id="czarny">Romualda Mielczarskiego 121</font> (zachodnia strona dworca kolejowego), II piętro, lokal 214.<br/><br/>
            <a href="kontakt.htm">Zobacz mapę dojazdu &raquo;</a>
        </div>

        <div class="prawo_zauf">
            <a href="referencje.htm"><b>Zaufali nam &raquo;</b></a>

            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="{{ asset('assets/img/zmitex.jpg') }}" data-thumb="{{ asset('assets/img/zmitex.jpg') }}" alt="" data-transition="fold"/>
                    <img src="{{ asset('assets/img/zpko.jpg') }}" data-thumb="{{ asset('assets/img/zpko.jpg') }}" alt="" data-transition="fold"/>
                    <img src="{{ asset('assets/img/zdorbud.jpg') }}" data-thumb="{{ asset('assets/img/zdorbud.jpg') }}" alt="" data-transition="fold"/>
                    <img src="{{ asset('assets/img/zmzb.jpg') }}" data-thumb="{{ asset('assets/img/zmzb.jpg') }}" alt="" data-transition="fold"/>
                    <img src="{{ asset('assets/img/zlysogory.jpg') }}" data-thumb="{{ asset('assets/img/zlysogory.jpg') }}" alt="" data-transition="fold"/>
                    <img src="{{ asset('assets/img/zgeopark.jpg') }}" data-thumb="{{ asset('assets/img/zgeopark.jpg') }}" alt="" data-transition="fold"/>
                    <img src="{{ asset('assets/img/zpolitechnika.jpg') }}" data-thumb="{{ asset('assets/img/zpolitechnika.jpg') }}" alt="" data-transition="fold"/>
                    <img src="{{ asset('assets/img/zskanska.jpg') }}" data-thumb="{{ asset('assets/img/zskanska.jpg') }}" alt="" data-transition="fold"/>
                    <img src="{{ asset('assets/img/zmzd.jpg') }}" data-thumb="{{ asset('assets/img/zmzd.jpg') }}" alt="" data-transition="fold"/>
                    <img src="{{ asset('assets/img/ztrakt.jpg') }}" data-thumb="{{ asset('assets/img/ztrakt.jpg') }}" alt="" data-transition="fold"/>
                </div>
            </div>
        </div>
        <br style="clear: both;"/>
        <script type="text/javascript">
            $(window).load(function () {
                $('#slider').nivoSlider();
            });
        </script>

    </div>

    <div class="prawo_1">
    </div>

    </div>
    </div>

{% endblock %}
