{% extends 'base.html.twig' %}

{% block title %}
    <div class="index__slider">
        <div class="slider-wrapper theme-default">
            <div id="index__slider" class="nivoSlider">
                <img src="{{ asset('assets/img/slide1.jpg') }}" data-thumb="{{ asset('assets/img/slide1.jpg') }}" alt=""
                     data-transition="boxRandom"/>
                <img src="{{ asset('assets/img/slide4.jpg') }}" data-thumb="{{ asset('assets/img/slide4.jpg') }}" alt=""
                     data-transition="boxRandom"/>
                <img src="{{ asset('assets/img/slide2.jpg') }}" data-thumb="{{ asset('assets/img/slide2.jpg') }}" alt=""
                     data-transition="boxRandom"/>
                <img src="{{ asset('assets/img/slide3.jpg') }}" data-thumb="{{ asset('assets/img/slide3.jpg') }}" alt=""
                     data-transition="boxRandom"/>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <h2 class="title">ELPEX - wszędzie tam, gdzie potrzebujesz energii.</h2>
    <p>Firma Elpex rozpoczęła swoją działalność w 2001 roku i od tego czasu zajmuje się profesjonalnym wykonawstwem robót elektrycznych i elektroenergetycznych w obiektach mieszkalnych, przemysłowych, handlowych i pozostałych budynkach użyteczności publicznej oraz instalacji sieci teletechnicznych w systemie EIB. W ramach naszych usług zajmujemy się również projektowaniem sieci elektroenergetycznych niskiego oraz średniego napięcia.</p>
    <p>W naszym dorobku znajduje się projektowanie oraz wykonastwo wielomilionowych inwestycji.</p>
    <p>Jesteśmy doświadczonym i wykwalifikowanym partnerem biznesowym stawiającym w swoich usługach na nowoczesność oraz wykorzystanie najnowszych rozwiązań technicznych.</p>
    <b>Wszędzie tam, gdzie potrzebujesz energii.</b>
    <h2 class="subtitle">Jesteśmy blisko.</h2>
    <p>
        Poznaj historię naszej firmy, dowiedz się jakie mamy wartości oraz czym kierujemy się w naszej codziennej pracy
        <a href="{{ url('about') }}">więcej &raquo;</a>
    </p>
    <h2 class="subtitle">Zaufanie to podstawa.</h2>
    <p>
        W ciągu wielu lat naszej obecności na rynku wyrobiliśmy sobie markę solidnego i godnego zaufania wykonawcy.
        Sprawdź listę naszych klientów oraz przeczytaj referencje, jakie nam wystawili
        <a href="{{ url('references') }}">więcej &raquo;</a>
    </p>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(window).load(function () {
            $('#index__slider').nivoSlider();
        });
    </script>
{% endblock %}