{% extends 'base.html.twig' %}

{% block body %}
    <div class="tytul">
        <div class="tekst">
            <h2 id="tekst">Referencje</h2>
        </div>
    </div>
    <div class="srodek">
        <div class="glowna">

            <div id="tmpSlideshow">
                <div id="tlo">
                </div>
                <div id="tmpSlide-1" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref1.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Mitex s. a.</b>
                        <p>
                            Wykonanie całościowej bądź częśćiowej instalacji elektrycznej, telefonicznej, alarmowej oraz
                            CCTV jako podwykonawca m. in.: budowy Rezydencji Prezydenckiej w Juracie-Helu, hotelu "IBIS" w
                            Warszawie, czy Basenu Olimpijskiego w Ostrowcu Świętokrzyskim.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-2" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref2.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Exbud Skanska s. a.</b>
                        <p>
                            Podczas współpracy z firmą Exbud Skanska s. a. przeprowadziliśmy prace elektroinstalacyjne m.
                            in. w czasie budowy Reifeisen Business Center w Warszawie, czy Centrum
                            Handlowo-Usługowo-Rozrywkowego "Plaza" w Krakowie.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-3" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref3.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Skanska</b>
                        <p>
                            Po przejęciu Exbudu przez Skanskę nadal kontynuowaliśmy współpracę z tą firmą. Na przełomie lat
                            2006-2007 wykonywaliśmy roboty elektryczne podczas rozbudowy hali magazynowej "Staloproduktu" w
                            Bochni.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-4" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref4.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Miasto Kielce</b>
                        <p>
                            Od 2006 roku przez dwa lata prowadziliśmy na zlecenie Prezydenta Miasta Kielce nadzór
                            inwestorski branży elektrycznej przy realizacji szeregu inwestycji w obrębie miasta.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-5" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref5.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Dorbud s. a.</b>
                        <p>
                            W czasie naszej wieloletniej współpracy z firmą Dorbud, jednym z największych przedsiębiorstw
                            budowlanych w Kielcach, wykonywaliśmy szereg prac instalacyjnych: wewnętrzych i
                            zewnętrznych.<br/><br/>
                            Budowa budynków mieszkalych, Kielce.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-6" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref6.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Dorbud s. a.</b>
                        <p>
                            W czasie naszej wieloletniej współpracy z firmą Dorbud, jednym z największych przedsiębiorstw
                            budowlanych w Kielcach, wykonywaliśmy szereg prac instalacyjnych: wewnętrzych i
                            zewnętrznych.<br/><br/>
                            Budowa budynku mieszkalnego z częścią handlowo-usługową, Kielce.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-7" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref7.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Dorbud s. a.</b>
                        <p>
                            W czasie naszej wieloletniej współpracy z firmą Dorbud, jednym z największych przedsiębiorstw
                            budowlanych w Kielcach, wykonywaliśmy szereg prac instalacyjnych: wewnętrzych i
                            zewnętrznych.<br/><br/>
                            Budowa Centrum rehabilitacyjno-sportowego, Kielce.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-8" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref8.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Dorbud s. a.</b>
                        <p>
                            W czasie naszej wieloletniej współpracy z firmą Dorbud, jednym z największych przedsiębiorstw
                            budowlanych w Kielcach, wykonywaliśmy szereg prac instalacyjnych: wewnętrzych i
                            zewnętrznych.<br/><br/>
                            Budowa budynku mieszkalnego z częścią hadlowo-usługową, Kielce.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-9" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref9.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Dorbud s. a.</b>
                        <p>
                            W czasie naszej wieloletniej współpracy z firmą Dorbud, jednym z największych przedsiębiorstw
                            budowlanych w Kielcach, wykonywaliśmy szereg prac instalacyjnych: wewnętrzych i
                            zewnętrznych.<br/><br/>
                            Rozbudowa i przebudowa Świętokrzyskiego Centrum Psychiatrii, Kielce.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-10" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref10.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Dorbud s. a.</b>
                        <p>
                            W czasie naszej wieloletniej współpracy z firmą Dorbud, jednym z największych przedsiębiorstw
                            budowlanych w Kielcach, wykonywaliśmy szereg prac instalacyjnych: wewnętrzych i
                            zewnętrznych.<br/><br/>
                            Budowa wielorodzinnego budynku mieszkalnego, Kielce.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-11" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref11.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Dorbud s. a.</b>
                        <p>
                            W czasie naszej wieloletniej współpracy z firmą Dorbud, jednym z największych przedsiębiorstw
                            budowlanych w Kielcach, wykonywaliśmy szereg prac instalacyjnych: wewnętrzych i
                            zewnętrznych.<br/><br/>
                            Remont i przebudowa budynku na Muzeum Dialogu Kultur, Kielce.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-12" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref12.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Miejski Zarząd Budynków w Kielcach</b>
                        <p>
                            Jako wykonawca w 2007 roku wykonywaliśmy dla Miejskiego Zarządu Budynków w Kielcach szereg prac
                            remontowych, instalacyjnych i montażowych w dwóch budynkach przy ulicy Grunwaldzkiej w Kielcach
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-13" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref13.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>P. P. H. U. Weprel</b>
                        <p>
                            Podczas dużego projektu rewitalizacji zabytkowego centrum Kielc, jako podwykonawca firmy Weprel
                            zajmowaliśmy się całościową instalacją oświetlenia zewnętrznego ulicy Warszawskiej.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-14" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref14.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Trakt sp. z o. o.</b>
                        <p>
                            Z jednym z największych w regionie przedsiębiorstw drogowych, firmš Trakt sp. z o. o.
                            współpracowaliśmy podczas remontu ulic Gagarina i Barabasza, wykonując instalacje oświetlenia
                            zewnętrznego ulic.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-15" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref15.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Miejski Zarząd Dróg w Kielcach</b>
                        <p>
                            Inwestycję za ponad ćwierć miliona złotych dla MZD w Kielcach ukończyliśmy w 2016 roku. Zlecenie
                            dotyczyło montażu i uruchomienia ponad 130 opraw LED.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-16" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref17.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Miejski Zarząd Dróg w Kielcach</b>
                        <p>
                            Inwestycję za ponad 160 000 złotych dla MZD w Kielcach ukończyliśmy w 2017 roku. Zlecenie
                            dotyczyło montażu i uruchomienia ponad 130 opraw LED.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-17" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref172.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Miejski Zarząd Dróg w Kielcach</b>
                        <p>
                            Inwestycję za ponad 160 000 złotych dla MZD w Kielcach ukończyliśmy w 2017 roku. Zlecenie
                            dotyczyło montażu i uruchomienia ponad 130 opraw LED.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-18" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref18.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>więtokrzyski Urząd Wojewódzki w Kielcach</b>
                        <p>
                            Nadzór inwestorski w budynku zleceniodawcy.
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-19" class="tmpSlide" style="display: none;">
                    <img src="{{ asset('assets/img/ref161.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Miejski Zarząd Dróg w Kielcach</b>
                        <p>
                            Szereg prac związanych z wymianš słupów oświelteniowych z montażem opraw LED, układaniem linii
                            kablowych i uziemienia przeprowadzaliśmy dla Miejskiego Zarządu Dróg w Kielcach.<br/><br/><b>strona
                                1/2</b>
                        </p>
                    </div>
                </div>
                <div id="tmpSlide-20" class="tmpSlide" style="display: block;">
                    <img src="{{ asset('assets/img/ref162.jpg') }}" alt="Slide">
                    <div class="tmpSlideCopy">
                        <b>Miejski Zarząd Dróg w Kielcach</b>
                        <p>
                            Iwestycja dotyczyła instalacji w różnych częciach miasta oraz prac o zróżnicowanym charakterze,
                            w latach 2013 - 2015.<br/><br/><b>strona 2/2</b>
                        </p>
                    </div>
                </div>

                <div id="tmpSlideshowControls">
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-1"><span>1</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-2"><span>2</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-3"><span>3</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-4"><span>4</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-5"><span>5</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-6"><span>6</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-7"><span>7</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-8"><span>8</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-9"><span>9</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-10"><span>10</span></div>
                    <br style="clear: both"/>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-11"><span>11</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-12"><span>12</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-13"><span>13</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-14"><span>14</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-15"><span>15</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-16"><span>16<sub>1</sub></span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-17"><span>16<sub>2</sub></span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-18"><span>17</span></div>
                    <div class="tmpSlideshowControl" id="tmpSlideshowControl-19"><span>18<sub>1</sub></span></div>
                    <div class="tmpSlideshowControl tmpSlideshowControlActive" id="tmpSlideshowControl-20">
                        <span>18<sub>2</sub></span></div>
                </div>
                <div id="spod">
                    Elpex oferuje usługi z zakresu profesjonalnego wykonawstwa robót elektroenergetycznych oraz instalacji
                    sieci elektrycznej w systemie EIB. W ramach naszych usług zajmujemy się również projektowaniem sieci
                    elektroenergetycznych.<br/><br/>
                    <a href="{{ url('offers') }}"><b>Zapoznaj się z naszą pełną ofertą &raquo;</b></a>
                </div>
            </div>

        </div>


        <br style="clear: both;"/>

    </div>
    </div>
{% endblock %}
