<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Elpex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('build/index.css') }}">
    <style type="text/css">
        .theme-default .nivoSlider {
            background: #fff url('{{ asset('assets/img/loading.gif') }}') no-repeat 50% 50%;
        }

        .index__slider .theme-default .nivo-controlNav a {
            background: url('{{ asset('assets/img/bullets.png') }}') no-repeat;
        }

        .aside__section .theme-default .nivo-controlNav a {
            background: url('{{ asset('assets/img/bullets2.png') }}') no-repeat;
        }

        body {
            background: url('{{ asset('assets/img/tlo.jpg') }}');
        }

        .nav {
            background: url('{{ asset('assets/img/menu.jpg') }}') repeat-y right;
        }

        .main ul, .aside__section-grey ul {
            list-style-image: url('{{ asset('assets/img/li.png') }}');
        }

        .footer {
            background: url('{{ asset('assets/img/pasek.png') }}') repeat-x;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
{% block header %}
    <header class="header">
        <h1 class="logo">
            <a href="{{ url('home') }}">
                <img src="{{ asset('assets/img/logo.jpg') }}" border="0" alt="none">
            </a>
        </h1>
        <nav class="nav" style="clear: none">
            <ul class="nav__list">
                <li class="nav__item"><a href="{{ url('home') }}" id="index_button">START</a></li>
                <li class="nav__item"><a href="{{ url('about') }}" id="o_firmie_button">O FIRMIE</a></li>
                <li class="nav__item"><a href="{{ url('offers') }}" id="oferta_button">OFERTA</a></li>
                <li class="nav__item"><a href="{{ url('references') }}" id="referencje_button">REFERENCJE</a></li>
                <li class="nav__item"><a href="{{ url('contact') }}" id="kontakt_button">KONTAKT</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}
<main class="container">
    {% block title %}
        <h2 class="title">{{ title }}</h2>
    {% endblock %}
    <div class="main__content">
        <div class="main">
            {% block body %}{% endblock %}
        </div>
        <aside class="aside">
        {% block aside %}
            <section class="aside__section aside__section-grey">
                <h4 class="aside__title"><a href="{{ url('about') }}">Poznaj nas &raquo;</a></h4>
                <ul>
                    <li>jesteśmy firmą istniejącą na rynku od 2001r.</li>
                    <li>spejalizujemy się w montażu intalacji elektrycznych zarówno na małych jak i dużych budowach</li>
                    <li>posiadamy doświadczenie w obsłudze kilkumilionowych inwestycji</li>
                </ul>
            </section>

            <section class="aside__section">
                <h4 class="aside__title"><a href="{{ url('contact') }}">Skontaktuj się z nami &raquo;</a></h4>
                <p>Wypełnij <a href="{{ url('contact') }}">formularz zapytania ofertowego</a> lub skontaktuj się z nami bezpośrednio:</p>
                <span class="aside__section__contact"><span class="red">tel/fax:</span> +48 <span class="red">41 346 43 32</span></span>
                <span class="aside__section__contact"><span class="red">kom:</span> +48 <span class="red">512 180 277</span></span>
                <span class="aside__section__contact"><span class="red">e-mail: elpex@op.pl</span></span>
            </section>

            <div class="aside__section">
                <p>
                    Zapraszamy również do odwiedzenia naszego biura mieszczącego się w <span class="black">Kielcach</span>, ulica
                    <span class="black">Romualda Mielczarskiego 121</span>
                </p>
                <a href="{{ url('contact') }}">Zobacz mapę dojazdu &raquo;</a>
            </div>

            <div class="aside__section">
                <h4 class="aside__title">Biuro handlowe</h4>
                <p>
                    <span class="aside__section__contact">ul. Romualda Mielczarskiego 121</span>
                    <span class="aside__section__contact">25-611 Kielce</span>
                </p>
            </div>
            <div class="aside__section">
                <a href="{{ url('references') }}"><b>Zaufali nam &raquo;</b></a>

                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src="{{ asset('assets/img/zmitex.jpg') }}" data-thumb="{{ asset('assets/img/zmitex.jpg') }}" alt="" data-transition="fold"/>
                        <img src="{{ asset('assets/img/zpko.jpg') }}" data-thumb="{{ asset('assets/img/zpko.jpg') }}" alt="" data-transition="fold"/>
                        <img src="{{ asset('assets/img/zdorbud.jpg') }}" data-thumb="{{ asset('assets/img/zdorbud.jpg') }}" alt="" data-transition="fold"/>
                        <img src="{{ asset('assets/img/zmzb.jpg') }}" data-thumb="{{ asset('assets/img/zmzb.jpg') }}" alt="" data-transition="fold"/>
                        <img src="{{ asset('assets/img/zlysogory.jpg') }}" data-thumb="{{ asset('assets/img/zlysogory.jpg') }}" alt="" data-transition="fold"/>
                        <img src="{{ asset('assets/img/zgeopark.jpg') }}" data-thumb="{{ asset('assets/img/zgeopark.jpg') }}" alt="" data-transition="fold"/>
                        <img src="{{ asset('assets/img/zpolitechnika.jpg') }}" data-thumb="{{ asset('assets/img/zpolitechnika.jpg') }}" alt="" data-transition="fold"/>
                        <img src="{{ asset('assets/img/zskanska.jpg') }}" data-thumb="{{ asset('assets/img/zskanska.jpg') }}" alt="" data-transition="fold"/>
                        <img src="{{ asset('assets/img/zmzd.jpg') }}" data-thumb="{{ asset('assets/img/zmzd.jpg') }}" alt="" data-transition="fold"/>
                        <img src="{{ asset('assets/img/ztrakt.jpg') }}" data-thumb="{{ asset('assets/img/ztrakt.jpg') }}" alt="" data-transition="fold"/>
                    </div>
                </div>
            </div>
        {% endblock %}
        </aside>
    </div>
</main>
{% block footer %}
    <footer class="footer">
        <section class="footer__section">
            <div class="footer__block">
                <p><b>Elpex</b> <span class="gray">Sylwester Galus</span></p>
                <span>Przyjmo, ul. Dolna 2</span>
                <span>26-085 Miedziana Góra</span>
            </div>
            <div class="footer__block">
                <p><b>Biuro handlowe</b></p>
                <span>ul. Mielczarskiego 121</span>
                <span>25-611 Kielce</span>
            </div>
        </section>
        <section class="footer__section">
            <div class="footer__block">
                <p><b>Szybki kontakt</b></p>
                <span>tel/fax: +48 41 346 43 32</span>
                <span>kom: + 48 512 180 277</span>
            </div>
            <div class="footer__block">
                <a href="{{ url('contact') }}">Napisz do nas &raquo;</a>
                <a href="{{ url('contact') }}">Znajdź nas na mapie &raquo;</a>
            </div>
        </section>
        <section class="footer__section">
            <p><b>Poznaj nas</b></p>
            <a href="{{ url('about') }}" class="o_firmie2">Informacje o firmie &raquo;</a>
            <a href="{{ url('offers') }}" class="oferta2">Oferowane usługi &raquo;</a>
            <a href="{{ url('references') }}" class="referencje2">Zaufali nam &raquo;</a>
        </section>
        <section class="copy">
            <p>&copy; 2013 Elpex. Wszelkie prawa zastrzeżone.</p>
        </section>
    </footer>
{% endblock %}
<div class="row pop-up" style="display: none;">
    <div class="box small-6 large-centered">
        <a href="#" class="close-button">&#10006;</a>
        <h3>RODO</h3>
        <div>
            <h4><b>Klauzula informacyjna o przetwarzaniu danych</b></h4>
            <p>Na podstawie art. 13 ust. 1 i ust. 2 rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27 kwietnia 2016 roku w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (dalej: RODO), informuję, że:</p>

            <h4><b>Administrator danych:</b></h4>
            <p>Administratorem danych osobowych jest: Sylwester Galus działający pod firmą: ELPEX Sylwester Galus z siedzibą w Przyjmo, ul. Dolna 2, 26-085 Miedziana Góra, e-mail: elpex@op.pl, tel. 512 180 277</p>

            <h4><b>Przedstawiciel administratora danych:</b></h4>
            <p>Przedstawicielem administratora danych osobowych w Polsce jest Sylwester Galus, Przyjmo ul. Dolna 2, 26-085 Miedziana Góra, e-mail: elpex@op.pl, tel. 512 180 277</p>

            <h4><b>Inspektor ochrony danych:</b></h4>

            <p>Dane kontaktowe inspektora ochrony danych w Gościniec Europejski z siedzibą w Przyjmo, ul. Dolna 2, 26-085 Miedziana Góra  to: Sylwester Ślusarczyk, e-mail: sylweczek0@wp.pl, tel. 691 739 981</p>


            <h4><b>Cele przetwarzania danych osobowych oraz podstawa prawna przetwarzania:</b></h4>
            <p>
                Przetwarzanie danych osobowych odbywać się będzie na podstawie art. 6 ust. 1 lit. b RODO <br>
                i wyłącznie w celu zapewnienia korzystania z usług świadczonych przez ELPEX
            </p>
            <h4><b>Prawnie uzasadniony interes:</b></h4>
            <p>Przetwarzanie danych osobowych odbywać się będzie również w oparciu o prawnie uzasadniony interes Administratora na podstawie art. 6 ust. 1 lit. f RODO w celu w celu rozpatrywania reklamacji, dochodzenia i obrony wzajemnych roszczeń, jak również przekazywania informacji o własnych usługach.</p>

            <h4><b>Okres przechowywania danych osobowych:</b></h4>
            <p>Pani/Pana dane osobowe będą przechowywane przez okres niezbędny do realizacji usługi oraz ewentualnie dochodzenia związanych z nią roszczeń.</p>

            <h4><b>Prawo dostępu do danych osobowych:</b></h4>
            <p>
            Posiada Pani/Pan prawo:
            - dostępu do treści swoich danych osobowych,
            - prawo do ich sprostowania, usunięcia oraz prawo do ograniczenia ich przetwarzania.
            Ponadto także prawo do:
            - cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania,
            - prawo do przenoszenia danych
            - prawo do wniesienia sprzeciwu wobec przetwarzania Pani/Pana danych osobowych.
            </p>
            <p>
            Prawo wniesienia skargi do organu nadzorczego:
            Przysługuje  Pani/Panu  prawo  wniesienia  skargi  do  Prezesa   Urzędu   Ochrony   Danych   Osobowych, ul. ul. Stawki 2, 00-913 Warszawa gdy uzna Pani/Pan, iż przetwarzanie danych osobowych Pani/Pana dotyczących narusza przepisy RODO.
            </p>
            <h4><b>Konsekwencje niepodania danych osobowych:</b></h4>
            <p>Podanie przez Panią/Pana danych osobowych jest wymogiem warunkiem zawarcia umowy  , <br>
            a ich niepodanie będzie skutkowało odmową zawarcia umowy i wykonania usługi.
            </p>
            <h4><b>Odbiorcy danych:</b></h4>
            Odbiorcą Pani/Pana danych osobowych będą podmioty prowadzące na rzecz Administratora danych obsługę księgową informatyczną i prawną

            <h4><b>Przekazanie danych do państwa trzeciego/organizacji międzynarodowej:</b></h4>
            <p>Nie dotyczy</p>
            <h4><b>Zautomatyzowane podejmowanie decyzji, profilowanie:</b></h4>
            <p>Nie dotyczy</p>
        </div>
    </div>
</div>
<script type="application/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="application/javascript" src="{{ asset('assets/js/jquery-1.7.1.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/cufon-yui.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/Calibri_700.font.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/pelzacz.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/jquery.nivo.slider.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/jquery-easing-1.3.pack.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/jquery-easing-compatibility.1.2.pack.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/js/slideshow.js') }}"></script>
<script type="application/javascript">
    $('#slider').nivoSlider();
    if(localStorage.getItem('rodo') === null) {
        console.log('asd')
        $('.pop-up').fadeIn(1000);

        $('.close-button').click(function (e) {

            $('.pop-up').fadeOut(700);
            $('#overlay').removeClass('blur-in');
            $('#overlay').addClass('blur-out');
            e.stopPropagation();

        });
    }

    localStorage.setItem('rodo', 'is');

</script>
<script type="application/javascript" src="{{ asset('build/index.js') }}"></script>

{% block js %}{% endblock %}
</body>
</html>
